/* CSS for James Dahlstrom's Portfolio Site */

/* leave white space on the left side of each page */
body {
  left: 1rem;
}
/*
   Set the relative positions of the three main content sections.
   Applies to each page unless another class overrides the defaults
*/
header{
  position: fixed;
  text-align: center;
  top: 0;
  height: 180px;
  width: 100%;
  background:rgba(220,220,220,0.9);
}
article {
  margin-top: 220px;
  text-align: left;
  align-content: center;
}

footer {
  margin: auto;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  color: grey;
}

/* 
   Settings specific to the resume page.  Set a minimum width
   for formating purposes and a margin to a bigger margin.
*/
.resume {
  min-width: 500px;
}
.resume-info {
  margin-left: 4rem;
}
/*
   Format the text to remove unnecessary white space, format on the
   page and set the correct fonts.
*/
h1 {
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Encode Sans', sans-serif;
}
h2, h3 {
  margin-bottom: 5px;
  font-family: 'Uni Sans', sans-serif;
}
p {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
ul {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
}
a {
  font-family: 'Open Sans', sans-serif;
}
/* 
   Format the back to top arrow, set the fixed position
   and change the color.
*/
.arrow {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
/*
   Format the navigation bar to set the color, location
   and padding. 
*/
.top-nav a {
  padding-right: 1rem;
}
span {
  color: black;
}
/*
   On the homepage format the dashboard buttons to display in line
   and update positioning based on screen size.  Set a defined image 
   size for all images to improve layout.
*/
.home-nav {
  align-content: center;
  text-align: center;
}
.home-nav figure {
  display: inline-block;
  align-content: center;
}
.nav-buttons img {
  width: 14rem;
  height: 14rem;
}
/* 
   Format the table elements.  Set the font and align text, add a perimeter
   border.
*/
table {
  border-collapse: separate;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid black;
}
td, th {
  padding: 10px 0;
  max-width: 350px;
}
td p {
  text-align: left;
}
/*Center the tables inside each section tag */
.table {
  margin-left:auto; 
  margin-right:auto;
}
/* Center the table headers over the tables */
.title{
  text-align: center;
}
/* 
   Set the position of the two tables on the page. 
   Ensure that they align horizontally and do not overlap.
   Keep the footer at the bottom of the page.
*/
#html {
  width: 39%;
  height: 1600px;
  float:left;
  margin-left: 10%;
  margin-right: 5px;
}
#gis {
  width: 39%;
  height: 1600px;
  float:left;
  margin-right: 10%;
  margin-left: 5px;
}