/* CSS for James Dahlstrom's Portfolio Site */

/* 
   The minimum size of the web page, if the visitor
   minimizes the browser to less than 1500px a horizonal 
   scroll bar will appear.
*/
body {
  min-width: 500px;
  left: 1rem;
}
/*
   Set the relative positions of the three main content sections.
*/
header{
  position: fixed;
  text-align: center;
  top: 0;
  height: 150px;
  width: 100%;
  background:rgba(220,220,220,0.9);
}
article {
  margin-left: 4rem;
  margin-top: 150px;
  text-align: left;
  align-content: center;
}
footer {
  margin: auto;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  color: grey;
}
/*
   Format the text to remove unnecessary white space, format on the
   page and set the correct fonts.
*/
h1 {
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Encode Sans', sans-serif;
}
h2 {
  margin-bottom: 5px;
  font-family: 'Uni Sans', sans-serif;
}
h3 {
  margin-bottom: 5px;
  font-family: 'Uni Sans', sans-serif;
}
p {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
ul {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
}
a {
  font-family: 'Open Sans', sans-serif;
}
.arrow {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.top-nav a {
  padding-right: 1rem;
}
span {
  color: black;
}
}
/* 
   Format the table elements.  Set the font and align text, add a perimeter
   border.
*/
table {
  border-collapse: separate;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid black;
}
td, th {
  padding: 10px 0;
  max-width: 350px;
}
td p {
  text-align: left;
}
/*Center the tables inside each section tag */
.table {
  margin-left:auto; 
  margin-right:auto;
}
/* Center the table headers over the tables */
.title{
  text-align: center;
}
/* 
   Set the position of the two tables on the page. 
   Ensure that they align horizontally and do not overlap.
   Keep the footer at the bottom of the page.
*/
#html {
  width: 39%;
  height: 1600px;
  float:left;
  margin-left: 10%;
  margin-right: 5px;
}
#gis {
  width: 39%;
  height: 1600px;
  float:left;
  margin-right: 10%;
  margin-left: 5px;
}